<h2><%= rubygem.name %></h2>
<h3><%= rubygem.karma %></h3>

<!-- <p>at <strong><%#= rubygem.full_name %></strong></p> -->
<p><%= rubygem.description %></p>

<ul class="github">
	<li><h4><a href="#">Github</a></h4></li>
	<li>Last Commit <strong><%= time_ago_in_words(rubygem.pushed_at) %></strong></li>
	<li>Issues <strong><%= rubygem.open_issues %></strong></li>
	<li>Pull reps <strong><%= rubygem.forks %></strong></li>
	<li>watchers <strong><%= rubygem.watchers %></strong></li>
</ul>

<ul class="charts">
	<li class="activity" style="width:<%= rubygem.categories_karma[:activity].round %>%"><strong><%= rubygem.categories_karma[:activity].round %></strong> activity</li>
	<li class="social" style="width:<%= rubygem.categories_karma[:social].round %>%"><strong><%= rubygem.categories_karma[:social].round %></strong> social</li>
	<li class="etiquette" style="width:<%= rubygem.categories_karma[:etiquette].round %>%"><strong><%= rubygem.categories_karma[:etiquette].round %></strong> etiquette</li>
</ul>
