<h1>GemDex, the Homepage</h1>
<%= render 'extras/alerts' %>
<%= render 'searches/form' %>
<%= render 'battles/form' %>
<%= link_to t('global.search'), "#", class: "active toggle-mode" %> <span>|</span> <%= link_to t('global.battle'), "#", class: "toggle-mode" %>