<%= form_tag '/battle', id: "battle-form" do %>
  <%= text_field_tag :gem1, nil, placeholder: "Gem #1" %>
  <span><%= t("global.vs") %></span>
  <%= text_field_tag :gem2, nil, placeholder: "Gem #2" %>
  <%= submit_tag t("global.go") %>
<% end %>