<!DOCTYPE html>
<html>
<head>
  <title>GEMDEX</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= favicon_link_tag %>

  <%= csrf_meta_tags %>
</head>
<body>
  <div class="page">
    <%= render 'layouts/parts/header' %>
    <%= yield %>
  </div>
  <%#= render 'layouts/parts/footer' %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
